@model Doque.Models.Questions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Questions</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SurveySection.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SurveySection.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputTypes.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputTypes.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subtext)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subtext)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Required)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Required)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OptionGroups.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OptionGroups.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AllowMultipleOptionAnsers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllowMultipleOptionAnsers)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
